spec:
  template:
    spec:
      containers:
      - name: ${IMAGE_NAME}
        image: ${DOCKER_IMAGE}_${ARCH}:${SERVICE_VERSION}
        imagePullPolicy: Always
      imagePullSecrets:
      - name: ${NAMESPACE_GRP}-${K_NS_SUFFIX}-image-pull-secret